vedge_device_list = {
    {% for host in groups['vmware_vedges'] -%}
    "{{ hostvars[host]['inventory_hostname'] }}" = {
        networks = ["{{ hostvars[host]['vpn512_portgroup'] }}", "{{ hostvars[host]['vpn0_portgroup'] }}", "{{ hostvars[host]['servicevpn_portgroup'] }}"]
        {% if hostvars[host]['vpn0_ipv4_address'] == "dhcp" %}
        ipv4_address = "dhcp"
        {% else %}
        ipv4_address = "{{ hostvars[host]['vpn0_ipv4_address'] }}/{{ hostvars[host]['vpn0_netmask'] }}"
        ipv4_gateway = "{{ hostvars[host]['vpn0_gateway'] }}"
        {% endif %}
    }{% if not loop.last %},{% endif %}

    {% endfor %}
}

cedge_device_list = {
    {% for host in groups['vmware_cedges'] -%}
    "{{ hostvars[host]['inventory_hostname'] }}" = {
        networks = ["{{ hostvars[host]['vpn512_portgroup'] }}", "{{ hostvars[host]['vpn0_portgroup'] }}", "{{ hostvars[host]['servicevpn_portgroup'] }}"]
        {% if hostvars[host]['vpn0_ipv4_address'] == "dhcp" %}
        ipv4_address = "dhcp"
        {% else %}
        ipv4_address = "{{ hostvars[host]['vpn0_ipv4_address'] }}/{{ hostvars[host]['vpn0_netmask'] }}"
        ipv4_gateway = "{{ hostvars[host]['vpn0_gateway'] }}"
        {% endif %}
    }{% if not loop.last %},{% endif %}

    {% endfor %}
}
